atomicwrites==1.4.0
attrs==21.2.0
backports.entry-points-selectable==1.1.0
bleach==4.0.0
build==0.6.0.post1
certifi==2021.5.30
charset-normalizer==2.0.4
check-manifest==0.46
colorama==0.4.4
colorful==0.5.4
distlib==0.3.2
docutils==0.17.1
filelock==3.0.12
gql==2.0.0
graphql-core==2.3.2
idna==3.2
importlib-metadata==4.6.4
keyring==23.1.0
more-itertools==8.8.0
numpy==1.21.2
packaging==21.0
pandas==1.3.3
pep517==0.11.0
pipenv==2021.5.29
pkginfo==1.7.1
platformdirs==2.2.0
pluggy==1.0.0
prettyprinter==0.18.0
promise==2.3
py==1.10.0
Pygments==2.10.0
pyparsing==2.4.7
pytest==4.4.1
pytest-runner==5.3.1
python-dateutil==2.8.2
pytz==2021.1
pywin32-ctypes==0.2.0
readme-renderer==29.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
Rx==1.6.1
safeGraph @ file:///C:/Users/Raq/Desktop/mirkan%20projects/upwork-graphQL/dist/safeGraph-0.1.0-py3-none-any.whl
safegraphQL==0.3.7
six==1.16.0
toml==0.10.2
tomli==1.2.1
tqdm==4.62.1
twine==3.4.2
urllib3==1.26.6
virtualenv==20.7.2
virtualenv-clone==0.5.6
webencodings==0.5.1
zipp==3.5.0
